*, html {
    margin:0;
    padding:0;  
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    color: #48485e;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    overflow-x: hidden; 
}
p {
    font-size: 16px;
    line-height: 1.5625;
    margin: 0 0 22px;
}

h2 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: inherit;
    line-height: 1.21429;
    margin-top: 20px;
    margin-bottom: 10px;

}

img {
    vertical-align: middle;
}
.right {
    float: right;
}

.scroll-down {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    z-index: 400;
}

.scroll-down-arrow {
    cursor: pointer;
    color: #fff;
    display: inline-block;
}


.margin-top-15 {
    margin-top: 1rem;
}
.margin0 {
    margin: 0;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 83%;
}

.row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row .col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 .75rem;
}

.white-text {
    color: #fff;
}

.green-text {
    color: #00c09d!important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-secondary {
    color: #48485e;
    background-color: #efff1d;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.23333;
    border-radius: 3px;
}

.col.s4 {
    margin-left: 0;
    width: 33.33333%;
}

.col.s5 {
    margin-left: 0;
    width: 41.66667%;
}

.col.s6 {
    margin-left: 0;
    width: 50%;
}

.col.s7 {
    margin-left: 0;
    width: 58.33333%;
}

.col.s8 {
    margin-left: 0;
    width: 66.66667%;
}

.col.s9 {
    margin-left: 0;
    width: 75%;
}

.col.s12 {
    margin-left: 0;
    width: 100%;
}


.flex-col {
    display: flex;
    justify-content: space-between;
}

.header-right {
    line-height: 5;
}

.down-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.sb-studen-story-bg {
    background-color: #15ad9e;
    background-image: url('https://d1v7bd3b0sjvlo.cloudfront.net/uploads/alumni/1450861461_sara_hero_p.jpg');
    background-size: cover;
    background-position: right!important;
    min-height: 642px;
    padding-bottom: 4rem;
    position: relative;
}

.sb-studen-story-bg-mob {
    background-color: #15ad9e;
    background-image: url('https://d1v7bd3b0sjvlo.cloudfront.net/uploads/alumni/1450861461_sara_hero_mob.jpg') ;
    background-size: cover;
    background-position: right!important;
    padding-bottom: 4rem;
    position: relative;
}

.student-name {
    color: #fff;
    font-size: 4.133rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.student-designation {
    color: #fff;
    font-size: 1.46rem;
}

.divider {
    width: 50px;
    height: 2px;
    background-color: #efff1d;
    margin-top: 10px;
    margin-bottom: 10px;
}

.student-more-info {
    color: #fff;
    font-size: 1.2rem;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.student-more-info-course-name {
    color: #efff1d;
}

.student-testimonial-message-body {
    background-color: #efeff6;
}

.student-testimonial-message-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.student-testimonial-message {
    color: #48485e;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 2rem;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    position: relative;
     padding-left: 25px;
}


.student-testimonial-message:before {
    content: "\201C";
    font-size: 3rem;
    line-height: 1;
    color: #666!important;
    font-family: "Roboto Black";
    font-style: normal;
    text-align: center;
    font-weight: 700;
    position: absolute;
    left: 0;
}

.student-testimonial-message:after{
    content: "\201D";
    font-size: 3rem;
    line-height: 0;
    margin-left: .5rem;
    margin-top: 1rem;
    position: absolute;
    color: #666!important;
    font-family: "Roboto Black";
    font-style: normal;
    text-align: center;
    font-weight: 700;
    /*position: absolute;*/

}

.student-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.grey-text {
    color: #7a7a7a;
}

.red-text {
    color: #ef2964;
}

.quote-and-image {
    margin-top: 40px;
}

.view-course-banner {
    background-color: #00c09d;
    padding-top: 20px;
    padding-bottom: 30px;
}

.view-course-banner h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.26471;
    margin-top: 20px;
    margin-bottom: 10px;
}

.view-course button {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
}

.dark-gray {
    background-color: #48485e;
    position: relative;
}

.first-half {
    padding: 50px 0;
}
.second-half {
    background-color: #3b3b4e; 
}

.footer-second-div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.inputClass-head {
    width: 51%;
}

.inputClass {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 40px;
    background-color: #3b3b4e;
    border: none;
    border-radius: 3px;
    
}

.footer-site-link-col {
    margin-top: 1rem;
}

.footer-site-link-header {
    padding: 6px 0px;
}

.footer-site-link-list {
    margin-top: 1rem;
    list-style: none;
}
.footer-site-link-list li {
    margin-bottom: 0.533rem;
}


.follow-img {
    width: 40px;
    height: 40px;
}


@media only screen and (max-width: 600px) {
    .logo {
        margin-top: 1rem;
        width: 100px;

    }
    .container {
        width: 95%;
    }
    .sb-studen-story-bg {
        display: none;
    }
    .sb-studen-story-bg-mob {
        min-height: 330px;
    }
    .student-name {
        font-size: 2rem;   
    }
    .student-designation {
        font-size: 1.2rem;
    }
    .view-course-banner h3 {
        text-align: center;
    }
    .view-course-banner button {
        width: 100%;
    }
    .student-testimonial-message {
        font-size: 1.2rem;
    }
    .view-course-banner h3 {
        font-size: 1.2rem;
    }
    .get-updates .btn {
        width: 100%;
    }
    .image-top-20 {
        margin-top: 20px;
    }
    .footer-second-div {
        text-align: center;
    }
    .inline_follow_toolbox {
        line-height: 3;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .sb-studen-story-bg-mob {
        display: none;
    }
    .inline_follow_toolbox {
       float: right;
        line-height: 3;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .col.m4{
        width: 33.33333%;
    }
    .col.m5{
        width: 41.66667%;
    }
    .col.m6 {
        width: 50%;
    }
    .col.m7{
        width: 58.33333%;
    }
    .col.m8{
        width: 66.66667%;
    }
    
    .container {
        width: 95%;
    }
    .student-name {
        font-size: 2.8rem;
    }
    .student-designation {
        font-size: 1.33rem;
    }
    .student-testimonial-message {
        font-size: 1.6rem;
    }
    .view-course-banner h3 {
        font-size: 1.6rem;
    }
    
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none;
    }
    .sb-studen-story-bg {
        min-height: 430px;
    }
    .header-right-col-mob {
        display: none;
    }
    
    .student-more-info {
        font-size: 1.0667rem;
    }
    .mobile-menu-icon {
        float: right;
        line-height: 4;
    }
    .mobile-menu {
        overflow-x: visible;
        padding-right: 10px;
        padding-left: 10px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        overflow-x: visible;
        border-top: none;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate(100%,0);
        -moz-transform: translate(-100%,0);
        -ms-transform: translate(100%,0);
        -o-transform: translate(100%,0);
        transform: translate(100%,0);
        opacity: 0;
        position: fixed;
        width: 50%;
        height: 100%;
        overflow: auto;
        background: #48485E;
        right: 0;
        top: 0;
        -webkit-transition: transform .4s ease-in-out;
        -moz-transition: transform .4s ease-in-out;
        -o-transition: transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
        z-index: 100000;

    }
    .mobile-menu.exposed {
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
        opacity: 1;
        -webkit-transition: transform .4s ease-in-out;
        -moz-transition: transform .4s ease-in-out;
        -o-transition: transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
    }

    .mobile-menu-content {
        margin-top: 2rem;
        padding-left: 30px;
        padding-right: 40px;
    }
    .mobile-menu  li {
        list-style: none;   
    }
}

@media only screen and (min-width: 993px) {
    .hide-on-large-only {
        display: none;
    }
    
    .padding-right0 {
        padding-right: 0 !important;
    }

    .padding-left0 {
        padding-left: 0 !important;
    }
    .col.l3 {
        width: 25%;
    }
    .col.l4 {
        width: 33.33333%;
    }
    .col.l5 {
         width: 41.66667%;
    }
    .col.l6{
        width: 50%;
    }
    .col.l7 {
        width: 58.33333%;
    }
    .col.l8 {
        width: 66.66667%;
    }
    .col.offset-l1 {
       margin-left: 8.33333%;
    }
    .image-top-40 {
        margin-top: 40px;
    }
    .inputClass {
        padding: 0px 12px;
    }
    .sb-studen-story-bg-top-col {
        margin-top: 4rem;
    }
}